body,
html {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: LightSteelBlue;
    display: flex;
    justify-content: center;
}

#app {
    width: 800px;
    padding: 5px;
}

#todo-head {
    background: cornflowerblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
    border: 1px solid lightblue;
    border-radius: 5px 5px 0 0;
}

.col-wrap {
    width: 100%;
    background-color: dodgerblue;
    transition: all .5s ease;
}

.col-wrap:hover {
    background-color: DeepSkyBlue;
}

.dtime {
    color: darkblue;
    text-align: right;
    bottom: 14px;
    width: 100%;
    font-size: 10px;
    user-select: none;
    border-left: 1px solid lightblue;
    border-bottom: 1px solid lightblue;
    box-sizing: border-box;
}

.todo-item {
    display: flex;
}

input[name='add'] {
    width: 100%;
    padding: 5px 0px;
    border: 0;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-indent: 5px;
    border-left: 1px solid lightblue;
    border-right: 1px solid lightblue;
    outline: none;
}

.item {
    white-space: break-spaces;
    width: 100%;
    height: 40px;
    font-family: monospace;
    font-size: 1em;
    color: white;
    display: flex;
    align-items: center;
    text-indent: 5px;
    overflow: hidden;
    border-left: 1px solid lightblue;
    user-select: none;
    cursor: pointer;
   
}

.item-delete,
.item-update {
    width: 10%;
    color: white;
    background-color: darkblue;
    border-right: 1px solid lightblue;
    border-bottom: 1px solid lightblue;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
}

.item-delete::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: '\f2ed';
}

.item-delete:hover {
    background-color: mediumblue;
}

.item-update::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f303';
}

.item-update:hover {
    background-color: mediumblue;
}

.marks {
    text-decoration: line-through;
    text-decoration-color: rgba(255, 0, 0, .5);
    text-decoration-thickness: 3px;
}